<div class="about-page">
  <div class="pageHeader">
    <h3><i class="fa fa-info-circle"></i> About</h3>
    <h3>How to Convert an ID to a Shortened URL</h3>
  </div>
  
  <div class="about-text">
    <div *ngIf="!isEditing" (click)="toggleEdit()" class="text-container">
      <p>{{ userText }}</p>
    </div>

    <div *ngIf="isEditing" class="text-container">
      <mat-form-field [style.fontSize]="fontSize">
        <textarea matInput
                  cdkTextareaAutosize
                  autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="30"
                  [(ngModel)]="userText"></textarea>
      </mat-form-field>

      <div class="action-buttons">
        <button mat-button (click)="saveEdit()">Save</button>
        <button mat-button (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  </div>
</div>
