<div class="about-page">
  <header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> How to Convert an ID to a Shortened URL</h3>
  </header>

  <div>
    <div *ngIf="!isEditing" (click)="toggleEdit()">
      <p>{{ userText }}</p>
      <button *ngIf="isAdmin()" (click)="toggleEdit()">Edit</button>
    </div>

    <div *ngIf="isEditing">
      <textarea [(ngModel)]="userText" rows="4" cols="50"></textarea>
      <br />
      <button (click)="saveEdit()">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
  </div>

</div>
