<div *ngIf="!isLoading()" class="url-details">
  <button class="btn-back" (click)="goBack()">
    <i class="fa fa-arrow-left"></i> Back
  </button>
  <h2>URL Details</h2>
  <div class="url-inner-details">
    <div class="mat-list">
      <div class="mat-list-item">
        <span matListItemTitle><strong>Original URL:</strong></span>
        <span class="url-text" (click)="urlService.copyText(selectedUrl?.urlText)">
          {{ selectedUrl?.urlText }}
          <i class="fas fa-copy"></i>
        </span>
      </div>
      <div class="mat-list-item">
        <span matListItemTitle><strong>Shortened URL:</strong></span>
        <span matListItemLine class="url-text" (click)="urlService.copyText('https://localhost:7214/' + selectedUrl?.shortenUrl)">
          {{ "https://localhost:7214/" + selectedUrl?.shortenUrl }}
          <i class="fas fa-copy"></i>
        </span>
      </div>
      <div class="mat-list-item">
        <span matListItemTitle><strong>Created By:</strong></span>
        <span matListItemLine class="url-text" (click)="urlService.copyText(selectedUrl?.userEmail)">
          {{ selectedUrl?.userEmail }}
          <i class="fas fa-copy"></i>
        </span>
      </div>
      <div class="mat-list-item">
        <span matListItemTitle><strong>Description:</strong></span>
        <span matListItemLine class="url-text" (click)="urlService.copyText(selectedUrl?.urlDescription)">
          {{ selectedUrl?.urlDescription }}
          <i class="fas fa-copy"></i>
        </span>
      </div>
      <div class="mat-list-item">
        <span matListItemTitle><strong>Creation Date:</strong></span>
        <span matListItemLine class="url-text" (click)="urlService.copyText(selectedUrl?.urlCreationDate)">
          {{ selectedUrl?.urlCreationDate }}
          <i class="fas fa-copy"></i>
        </span>
      </div>
    </div>
  </div>
</div>
